.weMember .weUser .wrp {
    max-width: 800px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.weMember {
    padding: 40px 0;
}

.weMember .headingUser {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.weMember .bodyUser {
    border-top: 1px solid #d6d6d6;
}

.weMember .bodyUser .boxMember {
    background: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 40px 16px;
    gap: 40px;
}

.weMember .bodyUser .boxMember .nameUser {
    display: flex;
    gap: 16px;
    align-items: center;
}

.weMember .bodyUser .boxMember .nameUser .WImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.weMember .bodyUser .boxMember .nameUser .WImage::before {
    padding-bottom: 100%;
}

.weMember .bodyUser .boxMember .nameUser .name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.weMember .bodyUser .boxMember .nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.weMember .bodyUser .boxMember .nav a {
    text-decoration: none;
    color: #141414;
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 32px 16px 16px;
    background: url('../image/icon/icon_arrow_right.svg') no-repeat right 14px center;
}

.weMember .bodyUser .boxMember .weLogout {
    text-align: center;
    border: 1px solid #616161;
    background: #fff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #141414;
    text-decoration: none;
}

header .weheader .wrp .box_nav .btn_user {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 600;
    padding: 4px 16px 4px 4px;
    border-radius: 80px;
    color: #141414;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}

header .weheader .wrp .box_nav .btn_user .WImage {
    width: 32px;
    height: 32px;
}

.weMenberInfo {
    background: #e5e5e5;
}

.weMenberInfo .weUser .wrp {
    max-width: 1376px;
}

.weMenberInfo .weUser .wrp .bodyUser {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    border-top: none;
    flex-wrap: wrap;
    align-items: flex-start;
}

.weMenberInfo.weMemberForgot .weUser .wrp .bodyUser {
    align-items: unset;
}

.weMenberInfo .weUser .wrp .bodyUser .boxMember {
    width: 320px;
}

.weMenberInfo .weUser .wrp .bodyUser .boxInfoMember {
    width: calc(100% - 360px);
    background: #fff;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.weMenberInfo .bodyUser .boxMember .nameUser {
    flex-direction: column;
    align-items: center;
}

.weMenberInfo .bodyUser .boxInfoMember .uploadAvatar {
    display: flex;
    gap: 24px;
    align-items: center;
}

.weMenberInfo .bodyUser .boxInfoMember .uploadAvatar .WImage {
    width: 240px;
    height: 240px;
}

.weMenberInfo .bodyUser .boxInfoMember .uploadAvatar .boxUpload {
    width: calc(100% - 266px);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.weMenberInfo .bodyUser .boxInfoMember .uploadAvatar .boxUpload label {
    border: 1px solid #616161;
    padding: 12px 40px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
}

.weMenberInfo .bodyUser .boxInfoMember .uploadAvatar .boxUpload label input {
    display: none;
}

.weMenberInfo .bodyUser .boxInfoMember h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo .item {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 #d6d6d6;
    padding: 16px 0;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo .item:last-child {
    box-shadow: none;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo .item .weInfo .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo .item .weInfo .nameValue {
    color: #616161;
}

.weMenberInfo .bodyUser .boxInfoMember .groupInfo .item .btnUpdate {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    text-decoration: underline;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background: rgba(0, 0, 0, .65);
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.backdrop.active {
    opacity: 1;
    visibility: inherit;
}

.backdrop .updateDateUser {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 30vh;
    max-height: 80vh;
    gap: 24px;
    padding: 24px 16px;
    border-radius: 16px;
}

.backdrop .updateGenderUser {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 30vh;
    max-height: 80vh;
    gap: 24px;
    padding: 24px 16px;
    border-radius: 16px;
}

.backdrop .updateTextUser {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 30vh;
    max-height: 80vh;
    gap: 24px;
    padding: 24px 16px;
    border-radius: 16px;
    z-index: 204;
}

.backdrop .titleUpdate {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.backdrop .updateDateUser .weInput {
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.backdrop .updateDateUser .weInput input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
}

.backdrop .botUpdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backdrop .botUpdate .cancel {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    cursor: pointer;
    color: #141414;
}

.backdrop .botUpdate .save {
    padding: 12px 48px;
    border: 1px solid #616161;
    border-radius: 8px;
    background: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    cursor: pointer;
    color: #141414;
}

.backdrop .updateGenderUser .weInput {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.backdrop .updateTextUser .weInput {
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.backdrop .updateTextUser .weInput input {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
}

.boxFogot {
    width: 100%;
    max-width: 456px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0 auto;
}

.boxFogot .forgotPass {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.boxFogot .forgotPass .itemIp {
    position: relative;
}

.boxFogot .forgotPass .itemIp .iconPs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    background: url('../image/icon/icon_eye_del.svg') no-repeat center center;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.boxFogot .forgotPass input {
    width: 100%;
    padding: 16px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    outline: none;
    font-family: inherit;
}

.boxFogot .forgotBtn {
    padding: 16px 20px;
    background: linear-gradient(268.71deg, #b40182 0%, #fc3766 100%);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}